@{
    ViewData["Title"] = "State Add/Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AddressBookDemo.Areas.LOC_State.Models.LOC_StateModel



    <div class="container">
        <h2>Add State Data</h2>
    <h3>@TempData["StateInsertMsg"]</h3>
        <form method="post" asp-controller="LOC_State" asp-action="Save">
        @Html.HiddenFor(x=>x.StateID)
            <div class="mb-3">
            <label><span class="text-danger">*</span>Country Name:</label>
                <select class="form-control" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))">
                    <option value="">Select Country</option>
                </select>
                <span asp-validation-for="CountryID" class="text-danger"></span>
            </div>
            <div class="mb-3">
            <label><span class="text-danger">*</span>State Name:</label>
            <input type="text" class="form-control" placeholder="Enter State name" asp-for="StateName">
            <span asp-validation-for="StateName" class="text-danger"></span>

            </div>
            <div class="mb-3">
            <label><span class="text-danger">*</span>State Code:</label>
            <input type="text" class="form-control" placeholder="Enter State code" asp-for="StateCode">
            <span asp-validation-for="StateCode" class="text-danger"></span>

            </div>
            @*<div class="mb-3">
                <label>Country ID:</label>
                <input type="text" class="form-control" placeholder="Enter Country ID" asp-for="CountryID">
            </div>*@
            @*<div class="mb-3">
                <label>Creation Date:</label>
                <input type="date" class="form-control" placeholder="Enter Creation date" asp-for="CreationDate">
            </div>
            <div class="mb-3">
                <label>Modification Date:</label>
                <input type="date" class="form-control" placeholder="Enter Modification date" asp-for="Modification">
            </div>*@

        <input type="submit" class="btn btn-success">
        <input type="submit" class="btn btn-danger" value="Cancel" asp-controller="LOC_State" asp-action="Index">
    </form>
    </div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

